<div *ngIf="apiLoaded$ | async; else loading" class="map-container">
  
  <google-map #mapInstance 
    width="100%" 
    height="100%" 
    [options]="mapOptions">
    
    <map-marker
      *ngFor="let pos of staticMarkerPositions; let i = index"
      [position]="pos"
      [options]="{ icon: i === 0 ? iconLoja : iconCliente }"
    ></map-marker>

    <map-marker
      *ngIf="driverMarkerPosition"
      [position]="driverMarkerPosition"
      [options]="{ icon: iconDriver, zIndex: 999 }"
    ></map-marker>

    <map-polyline
      *ngFor="let options of polylineOptions"
      [options]="options"
    ></map-polyline>

    <map-polyline
      *ngIf="historyPolylineOptions"
      [options]="historyPolylineOptions"
    ></map-polyline>

  </google-map>
</div>
<ng-template #loading>
  <div class="map-loading">Carregando mapa...</div>
</ng-template>