<div class="map-container" *ngIf="apiLoaded$ | async">
  <google-map height="100%" width="100%" [options]="mapOptions">
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
    >
    </map-marker>

    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
    ></map-marker>

    <map-polyline
      *ngFor="let polyline of polylines"
      [options]="polyline"
    ></map-polyline>
  </google-map>
</div>
