@use 'variables' as vars; 

:host {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.chart-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 400px; 
}

h3 {
  font-family: vars.$font-stack;
  font-size: 22px;
  font-weight: 600;
  color: vars.$text-dark;
  margin-bottom: 24px;
}

.loading-overlay,
.error-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  color: vars.$text-secondary;
  text-align: center;
  padding: 20px;
}

.error-overlay {
  color: vars.$primary-dark;
  font-weight: 500;
}

:host ::ng-deep {
  .ngx-charts-pie-chart {
    .pie-label, .pie-label-line, text {
      fill: vars.$text-dark !important;
      font-family: vars.$font-stack !important;
      font-size: 14px !important;
      font-weight: 500 !important;
    }
    
    .legend-label-text {
      color: vars.$text-secondary !important;
      font-family: vars.$font-stack !important;
    }
  }
}