<header>
  <div class="icone-text-header">
    <img ngSrc="assets/icone.png" width="18" height="18" priority />
    <span class="text-header">Rastreamento de entregas</span>
  </div>

  <div class="nova-entrega-perfil">
    <button class="btn-nova-entrega">Nova entrega</button>
    <button class="profile">
      <img ngSrc="assets/profile.png" width="24" height="24" />
    </button>
  </div>
</header>

<aside class="sidebar" [class.collapsed]="!sidebarVisible">
  
  <span class="btn-close" (click)="toggleSidebar()">X</span>
  <span class="btn-reabrir-sidebar" (click)="toggleSidebar()">☰</span>
  <nav>
    <ul>
      <li><a routerLink="/painel-geral" routerLinkActive="active" ariaCurrentWhenActive="page">Painel</a></li>
      <hr />
      <li><a routerLink="/relatorio-entregas" routerLinkActive="active" ariaCurrentWhenActive="page">Relatório de Entregas</a></li>
      <hr />
      <li><a routerLink="/entregadores" routerLinkActive="active" ariaCurrentWhenActive="page">Entregadores</a></li>
    </ul>
  </nav>
</aside>

<main>
  <h1>Entregadores</h1>
  <span class="buscar-entregador">Busque abaixo:</span>

  <div class="navbar-busca">
    <input type="text" placeholder="Buscar por nome ou CPF..." />
    <button class="btn-buscar" (click)="buscar()" [disabled]="isLoading">
      <span *ngIf="!isLoading">Buscar</span>
      <span *ngIf="isLoading" class="loading-text">Buscando<span class="dots"></span></span>
    </button>
  </div>

  <div class="lista-entregadores">
    
  </div>
</main>

<footer>© 2025 Vinicius Teixeira. Todos os direitos reservados.</footer>