//Variáveis globais

$primary-color: #007BFF;
$secondary-color: #B0D4F5;
$thrid-color: #FFC107;
$text-color: #1A3B5D;
$canceladas: #DC3545;
$background-color: #EAEAEA;
$font-primary: 'Poppins', serif;
$font-secondary: 'Roboto', sans-serif;