@use 'variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.painel-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}


.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  gap: 16px;
  overflow: hidden;
}

.painel-geral-grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 24px;
  height: 100%;
  overflow: hidden; 
}

.dashboard-container,
.lista-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 24px;
  overflow: hidden;
}

.lista-container {
  overflow-y: auto;
}