<div class="painel-geral-grid">
  <div class="dashboard-container">
    <app-dashboard-lojista></app-dashboard-lojista>
  </div>

  <div class="lista-container">
    <mat-tab-group animationDuration="0ms" class="lista-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>local_shipping</mat-icon>
          Entregas
        </ng-template>
        <app-lista-entregas></app-lista-entregas>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>sos</mat-icon>
          Socorros
        </ng-template>
        <app-lista-socorros></app-lista-socorros>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>