<header>
  <div class="icone-text-header">
    <img ngSrc="assets/icone.png" width="18" height="18" priority />
    <span class="text-header">Rastreamento de entregas</span>
  </div>

  <div class="nova-entrega-perfil">
    <button class="btn-nova-entrega">Nova entrega</button>
    <button class="profile">
      <img ngSrc="assets/profile.png" width="24" height="24" />
    </button>
  </div>
</header>

<aside class="sidebar" [class.collapsed]="!sidebarVisible">
  <span class="btn-close" (click)="toggleSidebar()">X</span>
  <span class="btn-reabrir-sidebar" (click)="toggleSidebar()">☰</span>
  <nav>
    <ul>
      <li><a routerLink="/painel-geral" routerLinkActive="active" ariaCurrentWhenActive="page">Painel</a></li>
      <hr />
      <li><a routerLink="/relatorio-entregas" routerLinkActive="active" ariaCurrentWhenActive="page">Relatório de Entregas</a></li>
      <hr />
      <li><a routerLink="/entregadores" routerLinkActive="active" ariaCurrentWhenActive="page">Entregadores</a></li>
    </ul>
  </nav>
</aside>

<main>
  <h1>Relatório de entregas</h1>
  <span class="filtro-loja-data">Filtre pela loja e data</span>

  <div class="seletor-data">
    <label>De:</label>
    <input type="date" />
    <label>Para:</label>
    <input type="date" />
  </div>

  <div class="navbar-busca">
    <input type="text" placeholder="Buscar por nome ou CPF..." />
    <button class="btn-buscar" (click)="buscar()" [disabled]="isLoading">
      <span *ngIf="!isLoading">Buscar</span>
      <span *ngIf="isLoading" class="loading-text">Buscando<span class="dots"></span></span>
    </button>
  </div>

  <div class="estado-entregas">
    <div class="estado-item">
      <span class="estado-titulo">Em andamento:</span>
      <span class="em-andamento">15</span>
    </div>
    <div class="estado-item">
      <span class="estado-titulo">Entregas concluídas:</span>
      <span class="concluidas">200</span>
    </div>
    <div class="estado-item">
      <span class="estado-titulo">Entregas canceladas:</span>
      <span class="canceladas">5</span>
    </div>
  </div>
</main>

<footer>© 2025 Vinicius Teixeira. Todos os direitos reservados.</footer>