<aside class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-button" (click)="toggleSidebar()">
    <span *ngIf="!isCollapsed">←</span>
    <span *ngIf="isCollapsed">→</span>
  </button>

  <mat-nav-list>
    <a mat-list-item routerLink="/painel/geral" routerLinkActive="active-link">
      <mat-icon>dashboard</mat-icon>
      <span class="text">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/painel/nova-entrega" routerLinkActive="active-link">
      <mat-icon>add_circle_outline</mat-icon>
      <span class="text">Nova Entrega</span>
    </a>
    <a mat-list-item routerLink="/painel/lista-entregas" routerLinkActive="active-link">
      <mat-icon>list_alt</mat-icon>
      <span class="text">Lista de Entregas</span>
    </a>
    <a mat-list-item routerLink="/painel/solicitar-socorro" routerLinkActive="active-link">
      <mat-icon>sos</mat-icon>
      <span class="text">Solicitar Socorro</span>
    </a>
  </mat-nav-list>
</aside>