<aside class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-button" (click)="toggleSidebar()">
    <span *ngIf="!isCollapsed">←</span>
    <span *ngIf="isCollapsed">→</span>
  </button>

  <mat-nav-list>
  <a mat-list-item routerLink="/painel/geral" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    <span class="text">Dashboard</span>
  </a>
  </mat-nav-list>

<div class="logout-section">
  <a mat-list-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="text">Sair</span>
  </a>
</div>
</aside>