<header>
    <div class="logo-container"> 
        <img ngSrc="assets/ícone.png" width="32" height="32" priority>
        <span class="text-header">Rastreamento de entregas</span>
    </div>

    <div class="a-btn-header">
        <a href="#titulo-first-section" class="link-header">O que é?</a>
        <a href="#titulo-second-section" class="link-header">Como funciona?</a>
        <a href="#titulo-third-section" class="link-header">Ferramentas</a>

        <button class="btn-login" routerLink="/card-login" 
        routerLinkActive="active"
        ariaCurrentWhenActive="page">LOGIN</button>
        
        <button class="btn-registrar" routerLink="/registro-usuario"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">REGISTRAR!</button>
    </div>

</header>

<!-- Início da Primeira Seção -->
<section id="titulo-first-section" class="first-section">

    <h1>O que é?</h1>

    <span class="first-span"><strong class="strong-first-section">Uma aplicação para</strong> rastrear<br> 
    as entregas do início ao fim<br>
    com acompanhamento<br>
    em tempo real
    </span>

</section>

<!-- Início da Segunda Seção -->
<section id="titulo-second-section" class="second-section">

    <h1>Como funciona?</h1>

    <span class="second-span">São usadas várias tecnologias embutidas<br>
    na aplicação para criar<strong class="strong-second-section"> uma ferramenta poderosa</strong><br>
    com dados de fácil acesso, disponíveis em todo o<br>
    processo de entrega
    </span>
</section>


<!-- Início da Terceira Seção -->
<section id="titulo-third-section" class="third-section">

    <h1>Ferramentas</h1>

    <span class="third-span">Ferramentas como<strong class="strong-third-section"> Google Maps e <br>Banco de dados não relacional</strong><br>
    entre outras, fazem parte do core da aplicação</span>

</section>

<footer> © 2025 Vinicius Teixeira. Todos os direitos reservados.</footer>