// Cores Principais
$primary: #007BFF;
$primary-dark: #0056b3;
$success: #28A745;
$warning: #FFC107;
$warning-dark: #DC3545;

// Cores Neutras
$secondary: #6C757D;
$bg-light: #F8F9FA;
$bg-gradient: linear-gradient(135deg, #f8f9fa 0%, #eaeaea 100%);
$text-dark: #343A40;
$text-secondary: #6C757D;

// Fontes
$font-stack: "Poppins", "Segoe UI", Roboto, sans-serif;